@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("...");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("...");
  font-weight: 700;
  font-style: normal;
}

#root {
  font-family: "Roboto";
  font-weight: 400;
  width: 100%;
  max-width: 100rem;
  box-sizing: border-box;
  padding: 0 3rem;
  margin: 0 auto;
}
